<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="whatsAppSourcePhoneNumber">
      <h2 data-cy="whatsAppSourcePhoneNumberDetailsHeading">
        <span jhiTranslate="zaptorpedoApp.whatsAppSourcePhoneNumber.detail.title">Whats App Source Phone Number</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ whatsAppSourcePhoneNumber.id }}</span>
        </dd>
        <dt><span jhiTranslate="zaptorpedoApp.whatsAppSourcePhoneNumber.instanceId">Instance Id</span></dt>
        <dd>
          <span>{{ whatsAppSourcePhoneNumber.instanceId }}</span>
        </dd>
        <dt><span jhiTranslate="zaptorpedoApp.whatsAppSourcePhoneNumber.msisdn">Msisdn</span></dt>
        <dd>
          <span>{{ whatsAppSourcePhoneNumber.msisdn }}</span>
        </dd>
        <dt><span jhiTranslate="zaptorpedoApp.whatsAppSourcePhoneNumber.company">Company</span></dt>
        <dd>
          <div *ngIf="whatsAppSourcePhoneNumber.company">
            <a [routerLink]="['/company', whatsAppSourcePhoneNumber.company?.id, 'view']">{{ whatsAppSourcePhoneNumber.company?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/whats-app-source-phone-number', whatsAppSourcePhoneNumber.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
