<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="message">
      <h2 data-cy="messageDetailsHeading"><span jhiTranslate="zaptorpedoApp.message.detail.title">Message</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ message.id }}</span>
        </dd>
        <dt><span jhiTranslate="zaptorpedoApp.message.body">Body</span></dt>
        <dd>
          <span>{{ message.body }}</span>
        </dd>
        <dt><span jhiTranslate="zaptorpedoApp.message.destinyPhoneNumber">Destiny Phone Number</span></dt>
        <dd>
          <span>{{ message.destinyPhoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="zaptorpedoApp.message.atendente">Atendente</span></dt>
        <dd>
          <div *ngIf="message.atendente">
            <a [routerLink]="['/atendente', message.atendente?.id, 'view']">{{ message.atendente?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="zaptorpedoApp.message.whatsAppSourcePhoneNumber">Whats App Source Phone Number</span></dt>
        <dd>
          <div *ngIf="message.whatsAppSourcePhoneNumber">
            <a [routerLink]="['/whats-app-source-phone-number', message.whatsAppSourcePhoneNumber?.id, 'view']">{{
              message.whatsAppSourcePhoneNumber?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/message', message.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
